@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import './colors.css';

body,h1,h2,h3,h4,h5,h6,p {
    margin: 0px;
    padding: 0xp;
    font-family: 'Rancho',cursive;
}
body 
{
    background-color: #DDB892;
    min-height:calc(100vh - 5rem);
    position: relative;
    padding-bottom:5rem !important;
}
nav{
    background-color:#EDE0D4;
    height: 80px;
}
nav .logo
{
    color:#7F5539;
    margin-left: 10px;
    font-size:50px;
    width:50px;
    height:50px;
    margin-top:6px;
}
nav .title
{
  padding:0.75rem;
  margin-left: 10px;
  color:#7F5539;
  text-decoration:none; 
  display: inline-block;
  font-size: 50px;
  margin-bottom:50px;
}
nav form 
{
    display:inline-block;
    float: right;
    padding: 0.75rem;
    margin-top: 7px;
    margin-left: 10px;
}
nav .search
{
    font-size: 25px;
    font-family: 'Rancho',cursive;
    padding: 0.25rem 0.75rem;
    margin-left: 10px;
}

nav .search:focus {
    outline: none !important;
    border: 1px solid #B08968;
}   /*:focus is a pseudo-class that applies the styles when 
      the targeted element is focused (e.g., when a user clicks into an input field).*/

section .heading
{
    font-size:35px;
    color:#7F5539;
    text-align: center;
}

footer
{
    position: absolute;
    bottom: 0px;
    background-color:#EDE0D4;
    width: calc(100% - 1.5rem);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Be positioned at the bottom of the page or its parent container.
Have a specific background color.
Stretch almost the entire width of its container, minus some space.
Have padding around its content.
Use Flexbox to arrange its children elements.
Center its children elements both horizontally and vertically.
display: inline-block;, meaning they will appear side-by-side in the 
same line as long as there is enough horizontal space*/

 .footer-seperator
{
    margin: 0 10px;
}

/* Styling for screen width 830px or less */
@media screen and (max-width: 830px){
    footer h1 {
        display: none;
    }
    footer{
        flex-direction: column;
        gap: 0.75rem;
        text-align: center;
        position: relative;
        bottom : -160px;
    }
    body{
        min-height: calc(100vh-10rem) !important;
        padding-bottom: 10rem !important;
    }
}

@media screen and (max-width: 750px){
    nav {
        display: inline-block;
        width: 100%;
    }

    nav form{
        float: none;
        display: flex;
        gap: 0.15rem;
        flex-wrap: wrap;
        justify-content: end;
        margin-bottom: 0.75rem;
        position: relative;
        top: -50px;
        right: 90px;
        left: 5px;

    }
}