@import './colors.css';

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.container .item
{
    padding: 0.1rem;
}

.container .item:hover 
{
    position: relative;
    top: -4px;
    left: -4px;
    box-shadow: 8px 8px 0px #B08968; 
} /*"Hover" refers to an action that occurs when a user moves their 
mouse cursor over an element on a web page without clicking.*/
